
#img1{
    margin-left: 1100px;
    margin-top: -700px;
}
#img2{
    margin-left: 1100px;
}
div{
    margin-left: 100px
}
h1{
    margin-left: 100px;
    font-family: monospace;
}
#table{
    font-family: monospace;
}